@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
body{font-family: 'Open Sans', sans-serif;}
ul li{list-style: none;}
.icon-list{padding-left: 0}
.icon-list li{    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;}
a{text-decoration: none;}
.icon-list li::before{
    content: '>';
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .5rem;
    background: #00D;
    border-radius: 50%;
    color: #fff;
    padding: 0px 9px;
    font-weight: bold;
    font-size: 20px;
}
.themed-container{
  padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}

.themed-grid-col{
  padding: .75rem;
  background: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
.themed-col{
  padding: .75rem;
  background: rgb(239 243 12 / 12%);
  border: 1px solid rgba(86, 61, 124, .2); 
}